@import './variables.scss';

.footer-top, .footer-bottom{
    padding: 0 6em;
    a, p{
			color: #fff;
    }
    a:hover {
			text-decoration: underline;
		}
}

.footer{
	background-color: $black;
	color: #fff;
	.footer-top{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-bottom: 1rem;
	}
	.footer-bottom{
    display: flex;
    justify-content: space-between;
		background-color: $blue;
	}
}

.social-links {
  background-color: gray;
  // height: 24px;
  width: fit-content;
  padding: 8px;
  border-radius: 4px;
  a{
    height: inherit;
    img{
      width: 24px;
    }
  }
}



// scroll to top button
#topBtn {
  display: block; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: -50px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #333; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 0; /* Some padding */
  height: 40px;
  border-radius: 50%; /* Rounded corners */
  transition: bottom 0.2s ease-in-out;
}

#topBtn img{
	width: 40px;
}

#topBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}