$group-width: 532px;
$group-height: 450px;
$gap: 5px;


.post-group{
    display: inline-grid;
    grid-gap: $gap;
    // width: 100%;
    .post{
        position: relative;
        figure{
            img {
                width: inherit;
                height: inherit;
                object-fit: cover;
            }
        }
        .post-details{
            .post-excerpt{
                display: none;
                color: #666;
            }
        }
    }
}

.group-heading{
    border-bottom: 3px solid $blue;
    margin: 2rem 0;
    h3{
        background-color: $blue;
        padding: 4px 8px;
        color: white;
        width: fit-content;
        margin-bottom: 0;
    }
    
}


#group1{
    .post:first-child{
        grid-area: g1-a;
        width: $group-width;
        height: $group-height + $gap;
        figure{
            width: $group-width;
            height: $group-height + $gap;
        }
        .post-details{
            .post-title a{
                font-size: 2rem;
            }
            .post-date{
                display: block;
            }
        }
    }
    .post:nth-child(2){
        grid-area: g1-b;
        width: $group-width + $gap;
        figure{
            width: $group-width + $gap;
            height: ($group-height * 3) / 5;
        }
        .post-details{
            .post-title a{
                font-size: 22px;
            }
            .post-date{
                display: block;
            }
        }
    }
    .post:nth-child(3){grid-area: g1-c}
    .post:nth-child(4){grid-area: g1-d}
}
#group1 {
    grid-template-areas: 
        'g1-a g1-b g1-b'
        'g1-a g1-c g1-d';
    .post{
        position: relative;
        margin: 0 auto;
        width: $group-width / 2;
        height: auto;
        figure{
            margin: auto;
            width: $group-width / 2;
            height: ($group-height * 2)/ 5;
            overflow: hidden;
            img {
                transition: transform 0.15s ease-in;
            }
        }  
        .post-details{
            position: absolute;
            left: $gap;
            bottom: $gap;
            color: white;
            .post-title a{
                color: #fff;
                text-shadow: 1px 1px 4px #444;
                font-size: 18px;
            }
            .post-date{
                display: none;
                text-shadow: 1px 1px 4px #666;
            }
            .post-category{
                display: block;
                span{
                    background-color:#444;
                    font-size: 10px;
                    text-transform: uppercase;
                    padding: 2px 4px;
                    margin: 2px;
                }
            }
        }
    }
    .post:hover img{
        transform: scale(1.06);
    }
}

.group-container{
    display: flex;
    justify-content: center;
    .group-sidebar{
        margin-left: 1rem;
        width: 100%;
        .sidebar{
            .social-media{
                a{
                    display: flex;
                    justify-content: space-between;
                    padding: 6px 0px;
                    figure{
                        display: inherit;
                        align-items: center;
                        margin: 0;
                        figcaption{
                            margin-left: 1rem;
                        }
                    }
                }
            }
            .bigyapan{
                figure{
                    width: 300px;
                    height: 280px;
                    object-fit: cover;
                    overflow: hidden;
                    img{
                        object-fit: cover;
                        height: inherit;
                        width: inherit;
                    }
                    figcaption{
                        text-align: center;
                        color: #a7a7a7;
                        font-size: 11px;
                        padding-bottom: 4px;
                    }
                }
            }
        }
    }
}
#group2 {
    .post:first-child{
        grid-area: g2-a;
        display: block;
        height: auto;
        margin-right: 3rem;
        figure{
            width: 350px;
            height: 280px;   
        } 
        .post-details{
            .post-title{
                a{
                    font-size: 22px;
                    font-weight: 400;
                }
            }
            .post-category{
                position: absolute;
                left: -5px;
                top: -27px;
                text-transform: capitalize;
                span{
                    background-color: #444;
                    color: white;
                    font-size: 11px;
                    padding: 2px 4px;
                    margin: 2px;
                    margin-left: 0;
                }
            }
            .post-excerpt{
                display: block;
            }
        }
    }
    .post:nth-child(2){grid-area: g2-b}
    .post:nth-child(3){grid-area: g2-c}
    .post:nth-child(4){grid-area: g2-d}
    .post:nth-child(5){grid-area: g2-e}
}
#group2 {
    grid-template-areas: 
    'g2-a g2-b'
    'g2-a g2-c'
    'g2-a g2-d'
    'g2-a g2-e';
    .post{
        display: flex;
        width: 350px;
        figure{
            margin: 0;
            width: 120px;
            height: 90px;
            // overflow: hidden;
            
        } 
        .post-details{
            position: relative;
            .post-title{
                a{
                    color: #333;
                }
            }
            .post-category{
                text-transform: capitalize;
                span{
                    background-color: #f5f5f5;
                    color: #666;
                    font-size: 11px;
                    padding: 2px 4px;
                    margin: 2px;
                    margin-left: 0;
                }
            }
        } 
    }
}

#group3 {
    .post:first-child{
        grid-area: g3-a;
        margin-right: 3rem;
    }
    .post:nth-child(2){grid-area: g3-b}
    .post:nth-child(3){grid-area: g3-c}
    .post:nth-child(4){grid-area: g3-d}
    .post:nth-child(5){grid-area: g3-e}
    .post:nth-child(6){grid-area: g3-f}
}
#group3 {
    grid-template-areas: 
    'g3-a g3-b'
    'g3-c g3-d'
    'g3-e g3-f';
    .post{
        display: flex;
        width: 350px;
        figure{
            margin: 0;
            width: 120px;
            height: 90px;
            // overflow: hidden;
            
        } 
        .post-details{
            position: relative;
            .post-title{
                a{
                    color: #333;
                }
            }
            .post-category{
                text-transform: capitalize;
                span{
                    background-color: #f5f5f5;
                    color: #666;
                    font-size: 11px;
                    padding: 2px 4px;
                    margin: 2px;
                    margin-left: 0;
                }
            }
        } 
    }
}
#group3 { 
    .post:first-child, .post:nth-child(2){
        display: block;
        height: auto;
        figure{
            width: 350px;
            height: 280px;   
        } 
        .post-details{
            .post-title{
                a{
                    font-size: 22px;
                    font-weight: 400;
                }
            }
            .post-category{
                position: absolute;
                left: -5px;
                top: -27px;
                text-transform: capitalize;
                span{
                    background-color: #444;
                    color: white;
                    font-size: 11px;
                    padding: 2px 4px;
                    margin: 2px;
                    margin-left: 0;
                }
            }
            .post-excerpt{
                display: block;
            }
        }
    }
}

.sidebar .post-block{
    .post:first-child{grid-area: block1}
    .post:nth-child(2){grid-area: block2}
    .post:nth-child(3){grid-area: block3}
    .post:nth-child(4){grid-area: block4}
}
.sidebar{
    .post-block-container{
        display: flex;
        justify-content: center;
    }
} 
.post-block-container .post-block{
    display: grid;
    grid-template-areas: 
        "block1 block2"
        "block3 block4";
    .post {
        display: block;
        width: 160px;
        height: auto;
        position: relative;
        margin: 0 12px;
        figure{
            width: 160px;
            height: 140px;
            margin: 0;  
            img{
                width: inherit;
                height: inherit;
                object-fit: cover;
            } 
        } 
        .post-details{
            .post-title{
                a{
                    font-size: 13px;
                    color: #333;
                }
            }
            .post-category{
                position: absolute;
                left: 0;
                top: 120px;
                text-transform: capitalize;
                margin: 0;
                span{
                    display: none;
                }
                span:first-child{
                    display: block;
                    background-color: #444;
                    color: white;
                    font-size: 11px;
                    padding: 2px 4px;
                    margin: 2px;
                    margin-left: 0;
                }
            }
            .post-excerpt, .post-date{
                display: none;
            }
        }
    }
}