//single post
.single-content{
    display: flex;
    background-color: #fff;
}
// grid area names
.single-post {
    figure{
        grid-area: img;
        width: 700px;
        margin: 0;
        img{
            width: inherit;
        }
    }
    .single-post-title{
        grid-area: title;
        font-size: 36px;
        font-weight: 400;
    }
    .single-post-date{
        grid-area: date;
        margin-right: 1rem;
        font-size: 12px;
    }
    .single-content{
        grid-area: content;
        display: block;
    }
}
// large screen (laptop and computer)
.single-post {
    display: grid;
    grid-template-areas: 
        'title'
        'img'
        'date' 
        'content';
    color: #333;
    font-size: 15px;
}

.single-sidebar{
    .bigyapan{
        figure{
            width: 325px;
            img{
                width: inherit;
            }
        }
    }
}

.separator{
    background-color: #ccc;
    height: 1px;
    margin: 2rem 0;
}

.other-posts{
    display: flex;
    .prev-post{
        width: 48%;
        margin-right: 2%;
        div{
            font-size: 12px;
            color: #666;
        }
    }
    .next-post{
        width: 48%;
        margin-left: 2%;
        text-align: right;
        div{
            font-size: 12px;
            color: #666;
        }
    }
}

.comments-area .comment-form{
    #comment, #author, #email{
        padding: 3px 9px;
        min-height: 34px;
        width: 100%;
        font-size: 12px;
        font-family: inherit;
    }
    #submit{
        background-color: #222;
        color: #fff;
        padding: 8px 15px;
        border: none;
        cursor: pointer;
    }
}

.comment-list{
    list-style: none;
    .comment{
        margin-top: 1rem;
        margin-bottom: 1rem;
        ul.children li{
            list-style: none;
            br{display: none;}
        }
    }
    .comment-author{
        display: inline;
        img{margin-bottom: -2rem;}
        cite.fn{
            text-transform: capitalize;
            font-size: 16px;
            text-decoration: none;
            font-weight: 600;
            font-style: normal;
            padding-left: 12px;
        }
        .says{display: none;}
    }
    .comment-meta{
        display: inline;
        font-size: 12px;
        padding-left: 10px;
        a{color: #aaa;}
    }
    p{
        margin: 5px 0;
    }
    p, .reply{
        margin-left: 50px;
        padding-left: 12px;
    }
    .reply{
        font-size: 12px;
        a{color: #aaa;}
    }
}

// medium screen (tablet)
@media (max-width: 768px) {
    .single-post{
        grid-template-areas: 
        'title'
        'date' 
        'img'
        'content';
        text-align: left;
        figure{
            img{
                width: 100vw;
            }
        }
        
        figure img, .single-post-title, .single-post-date, .single-content{
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}

// small screen (mobile)
@media (max-width: 568px) {
    .single-post{
        grid-template-areas: 
        'img'
        'title'
        'date' 
        'content';
    }
}